@model IEnumerable<IndexViewModel>
@{
    ViewData["Title"] = "Home Page";
    var missions = Model.ToList();
}

<div class="mt-4 p-5 bg-light">
    <h1 class="display-4">Welcome to the best place for helping a good cause!</h1>
    <p class="lead">
        You can volunteer now and help people in need
    </p>
    <hr class="my-4">
    <a asp-controller="Mission" asp-action="All"
       class="btn btn-success">Missions</a>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Mission" asp-action="Add" class="btn btn-success">Add Mission</a>
    }
</div>