@model MissionFormModel
@{
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Title...">
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location"></label>
                    <input asp-for="Location" class="form-control"
                       placeholder="Location...">
                    <span asp-validation-for="Location" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control"
                          placeholder="A fallen tree..."></textarea>
                    <span asp-validation-for="Description" class="small textdanger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MissionTypeId"></label>
                    <select asp-for="MissionTypeId" class="form-control">
                        @foreach (var missionTypes in Model.MissionTypes)
                        {
                            <option value="@missionTypes.MissionTypeID">@missionTypes.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MissionTypeId" class="small textdanger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MissionThreatLevelId"></label>
                    <select asp-for="MissionThreatLevelId" class="form-control">
                        @foreach (var threatLevels in Model.ThreatLevels)
                        {
                            <option value="@threatLevels.Id">@threatLevels.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MissionThreatLevelId" class="small textdanger"></span>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary mt-3" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
}
