@using OnePiece.Web.ViewModels.Team
@model TeamFormModel
@{
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Name...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamTypeId"></label>
                    <select asp-for="TeamTypeId" class="form-control">
                        @foreach (var teamTypes in Model.TeamTypes)
                        {
                            <option value="@teamTypes.TeamTypeID">@teamTypes.Name</option>
                        }
                    </select>
                    <span asp-validation-for="TeamTypeId" class="small textdanger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="MissionId"></label>
                    <select asp-for="MissionId" class="form-control">
                        @foreach (var mission in Model.Missions)
                        {
                            <option value="@mission.Id">@mission.Title</option>
                        }
                    </select>
                    <span asp-validation-for="MissionId" class="small textdanger"></span>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary mt-3" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
}
