@using OnePiece.Web.ViewModels.Team
@model TeamFormModel
@{
    ViewData["Title"] = "Add Team";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr/>

<partial name="TeamFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}