@model List<MissionAllViewModel>
@{
    ViewData["Title"] = "My Missions";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any missions yet!</h2>
}
else
{
    <div class="row">
        @foreach (MissionAllViewModel missions in Model)
        {
            <partial name="_MissionPartial" model="missions"/>
        }
    </div>
}
