html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.vertical-line {
    display: flex;
    align-items: center;
}

    .vertical-line::before {
        content: '';
        border-left: 1px solid black;
        height: 20px;
        margin: 0 5px;
    }
